:root {
    --malibu: #63B8F2;
    --mercury: #E6E6E6;
    --doveGray: #666666;
    --silver: #CDCDCD;
}

@keyframes slidein {
    from { width: 0; }
    to   { width: 100%; }
}

@keyframes turnin {
    from { transform: scaleX(0); }
    to   { transform: scaleX(1); }
}

@keyframes shake {
    10%, 90% {
        transform: translate3d(0, -1px, 0);
    }

    20%, 80% {
        transform: translate3d(0, 2px, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(0, -4px, 0);
    }

    40%, 60% {
        transform: translate3d(0, 4px, 0);
    }
}
