@import './config.css';

.panelWrapper {
    background-color: white;
    height: 800px;
    border-radius: 4px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.20);
    padding: 0 16px;
}

    .panelTitle {
        color: var(--malibu);
        font-weight: 500;
        padding: 22px 0 16px;
    }

        .taskListItem {
            position: relative;
            height: 64px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: var(--doveGray);
            cursor: pointer;
            border-bottom: 1px solid var(--mercury);
            transition: text-decoration 5s;
        }

            .taskText {
                display: flex;
                align-items: center;
                overflow: hidden;
                white-space: nowrap;
                height: inherit;
            }

                .taskText span {
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

        .taskListItem.completed .taskText span {
            color: var(--silver);
            text-decoration: line-through;
        }

        .taskListItem.completed .taskText::before {
            background-color: var(--malibu);
            content: "\2713";
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 17px;
            animation: turnin 1s;
        }

        .taskListItem .taskText::before {
            content: "";
            display: inline-block;
            min-width: 20px;
            height: 20px;
            border-radius: 50%;
            border: 2px solid var(--malibu);
            margin-right: 10px;
            animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
            transform: translate3d(0, 0, 0);
        }

            .activationDate {
                color: var(--silver);
                white-space: nowrap;
                font-size: 12px;
            }
